<a href="https://colab.research.google.com/github/AgunsBaba/Assignment/blob/master/Neural_Net_Kaggle_Satander.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [85]:
#import modules
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.utils import to_categorical
from keras import losses
from keras import metrics
from keras import models
from keras import layers

In [86]:
#import data
df = pd.read_csv('/content/Satander.csv')
df.head()

   ID_code  target    var_0   var_1  ...  var_196  var_197  var_198  var_199
0  train_0       0   8.9255 -6.7863  ...   7.8784   8.5635  12.7803  -1.0914
1  train_1       0  11.5006 -4.1473  ...   8.1267   8.7889  18.3560   1.9518
2  train_2       0   8.6093 -2.7457  ...  -6.5213   8.2675  14.7222   0.3965
3  train_3       0  11.0604 -2.1518  ...  -2.9275  10.2922  17.9697  -8.9996
4  train_4       0   9.8369 -1.4834  ...   3.9267   9.5031  17.9974  -8.8104

[5 rows x 202 columns]

In [87]:
df = df.set_index('ID_code')
df.head()

         target    var_0   var_1    var_2  ...  var_196  var_197  var_198  var_199
ID_code                                    ...
train_0       0   8.9255 -6.7863  11.9081  ...   7.8784   8.5635  12.7803  -1.0914
train_1       0  11.5006 -4.1473  13.8588  ...   8.1267   8.7889  18.3560   1.9518
train_2       0   8.6093 -2.7457  12.0805  ...  -6.5213   8.2675  14.7222   0.3965
train_3       0  11.0604 -2.1518   8.9522  ...  -2.9275  10.2922  17.9697  -8.9996
train_4       0   9.8369 -1.4834  12.8746  ...   3.9267   9.5031  17.9974  -8.8104

[5 rows x 201 columns]

In [88]:
#split into X and y variables
X = df.drop(columns=['target'])
y = df['target']

In [89]:
df['target'].value_counts()

0    179902
1     20098
Name: target, dtype: int64

In [90]:
#test train split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [91]:
my_data = (X_train, X_test, y_train, y_test)
for i in my_data:
  i = i.to_numpy()

In [94]:
#Data pre-processing
scaler = StandardScaler()

In [95]:
X_train = scaler.fit_transform(X_train)
X_test = scaler.fit_transform(X_test)

In [96]:
X_train.shape

(140000, 200)

In [97]:
X_test.shape

(60000, 200)

In [98]:
y_train = to_categorical(y_train, num_classes = 2)
y_test = to_categorical(y_test, num_classes = 2)

In [101]:
model = Sequential()

In [102]:
input_shape = X_train.shape[1]
input_shape

200

In [107]:
model.add(layers.Dense(512, 
                       activation='relu',
                       input_shape=(input_shape,)))
model.add(layers.Dense(512,
                       activation='relu'))
model.add(layers.Dense(2, activation='sigmoid'))

In [108]:
model.compile(optimizer='adam',
              loss='binary_crossentropy',
              metrics=['acc'])

In [109]:
history = model.fit(X_train, y_train,
                    validation_data=(X_test, y_test),
                    epochs=20)

Epoch 1/20
4375/4375 [==============================] - 35s 8ms/step - loss: 0.1943 - acc: 0.9279 - val_loss: 0.2730 - val_acc: 0.8995
Epoch 2/20
4375/4375 [==============================] - 33s 7ms/step - loss: 0.1919 - acc: 0.9282 - val_loss: 0.2745 - val_acc: 0.8989
Epoch 3/20
4375/4375 [==============================] - 35s 8ms/step - loss: 0.1912 - acc: 0.9286 - val_loss: 0.2829 - val_acc: 0.8990
Epoch 4/20
4375/4375 [==============================] - 34s 8ms/step - loss: 0.1904 - acc: 0.9292 - val_loss: 0.2698 - val_acc: 0.8998
Epoch 5/20
4375/4375 [==============================] - 35s 8ms/step - loss: 0.1893 - acc: 0.9297 - val_loss: 0.2777 - val_acc: 0.8976
Epoch 6/20
4375/4375 [==============================] - 33s 8ms/step - loss: 0.1885 - acc: 0.9299 - val_loss: 0.3053 - val_acc: 0.8939
Epoch 7/20
4375/4375 [==============================] - 33s 8ms/step - loss: 0.1879 - acc: 0.9302 - val_loss: 0.2943 - val_acc: 0.8968
Epoch 8/20
4375/4375 [==============================] - 33s 8ms/step - loss: 0.1872 - acc: 0.9309 - val_loss: 0.2849 - val_acc: 0.8980
Epoch 9/20
4375/4375 [==============================] - 34s 8ms/step - loss: 0.1862 - acc: 0.9312 - val_loss: 0.2826 - val_acc: 0.8944
Epoch 10/20
4375/4375 [==============================] - 33s 8ms/step - loss: 0.1858 - acc: 0.9313 - val_loss: 0.2866 - val_acc: 0.8977
Epoch 11/20
4375/4375 [==============================] - 33s 8ms/step - loss: 0.1851 - acc: 0.9312 - val_loss: 0.2839 - val_acc: 0.8962
Epoch 12/20
4375/4375 [==============================] - 33s 8ms/step - loss: 0.1842 - acc: 0.9316 - val_loss: 0.2941 - val_acc: 0.8909
Epoch 13/20
4375/4375 [==============================] - 35s 8ms/step - loss: 0.1836 - acc: 0.9323 - val_loss: 0.2914 - val_acc: 0.8934
Epoch 14/20
4375/4375 [==============================] - 34s 8ms/step - loss: 0.1831 - acc: 0.9327 - val_loss: 0.2865 - val_acc: 0.8947
Epoch 15/20
4375/4375 [==============================] - 33s 8ms/step - loss: 0.1828 - acc: 0.9332 - val_loss: 0.2833 - val_acc: 0.8971
Epoch 16/20
4375/4375 [==============================] - 33s 7ms/step - loss: 0.1821 - acc: 0.9331 - val_loss: 0.2933 - val_acc: 0.8939
Epoch 17/20
4375/4375 [==============================] - 35s 8ms/step - loss: 0.1818 - acc: 0.9338 - val_loss: 0.2918 - val_acc: 0.8943
Epoch 18/20
4375/4375 [==============================] - 34s 8ms/step - loss: 0.1808 - acc: 0.9341 - val_loss: 0.2892 - val_acc: 0.8964
Epoch 19/20
4375/4375 [==============================] - 33s 8ms/step - loss: 0.1806 - acc: 0.9342 - val_loss: 0.2914 - val_acc: 0.8938
Epoch 20/20
4375/4375 [==============================] - 33s 8ms/step - loss: 0.1800 - acc: 0.9344 - val_loss: 0.2898 - val_acc: 0.8955

In [155]:
#import submission file
df_sub = pd.read_csv('/content/Satander_test.csv')
df_sub.head()

  ID_code    var_0    var_1    var_2  ...  var_196  var_197  var_198  var_199
0  test_0  11.0656   7.7798  12.9536  ...   4.3654  10.7200  15.4722  -8.7197
1  test_1   8.5304   1.2543  11.3047  ...  -1.4852   9.8714  19.1293 -20.9760
2  test_2   5.4827 -10.3581  10.1407  ...  -7.1086   7.0618  19.8956 -23.1794
3  test_3   8.5374  -1.3222  12.0220  ...   3.9567   9.2295  13.0168  -4.2108
4  test_4  11.7058  -0.1327  14.1295  ...  -5.1612   7.2882  13.9260  -9.1846

[5 rows x 201 columns]

In [156]:
df_sub = df_sub.set_index('ID_code')
df_sub.head()

           var_0    var_1    var_2   var_3  ...  var_196  var_197  var_198  var_199
ID_code                                     ...
test_0   11.0656   7.7798  12.9536  9.4292  ...   4.3654  10.7200  15.4722  -8.7197
test_1    8.5304   1.2543  11.3047  5.1858  ...  -1.4852   9.8714  19.1293 -20.9760
test_2    5.4827 -10.3581  10.1407  7.0479  ...  -7.1086   7.0618  19.8956 -23.1794
test_3    8.5374  -1.3222  12.0220  6.5749  ...   3.9567   9.2295  13.0168  -4.2108
test_4   11.7058  -0.1327  14.1295  7.7506  ...  -5.1612   7.2882  13.9260  -9.1846

[5 rows x 200 columns]

In [157]:
df_sub = df_sub.to_numpy()

In [159]:
pred = model.predict(df_sub)
pred[0]

array([0.99127054, 0.0087094 ], dtype=float32)

In [160]:
pred_test = np.where(pred > 0.5, 1, 0)

In [168]:
pred_test.ndim

2

In [171]:
my_Sub = pd.read_csv('/content/Satander_test.csv')

In [172]:
my_Sub = my_Sub.set_index('ID_code')
my_Sub.head()

           var_0    var_1    var_2   var_3  ...  var_196  var_197  var_198  var_199
ID_code                                     ...
test_0   11.0656   7.7798  12.9536  9.4292  ...   4.3654  10.7200  15.4722  -8.7197
test_1    8.5304   1.2543  11.3047  5.1858  ...  -1.4852   9.8714  19.1293 -20.9760
test_2    5.4827 -10.3581  10.1407  7.0479  ...  -7.1086   7.0618  19.8956 -23.1794
test_3    8.5374  -1.3222  12.0220  6.5749  ...   3.9567   9.2295  13.0168  -4.2108
test_4   11.7058  -0.1327  14.1295  7.7506  ...  -5.1612   7.2882  13.9260  -9.1846

[5 rows x 200 columns]

In [174]:
my_Sub.shape

(200000, 200)

In [176]:
my_Sub.index

Index(['test_0', 'test_1', 'test_2', 'test_3', 'test_4', 'test_5', 'test_6',
       'test_7', 'test_8', 'test_9',
       ...
       'test_199990', 'test_199991', 'test_199992', 'test_199993',
       'test_199994', 'test_199995', 'test_199996', 'test_199997',
       'test_199998', 'test_199999'],
      dtype='object', name='ID_code', length=200000)

In [178]:
pred_df = pd.DataFrame(pred_test, columns=['target', 'target1'], index=[my_Sub.index])

In [182]:
pred_df.head()

         target  target1
ID_code
test_0        1        0
test_1        1        0
test_2        1        0
test_3        1        0
test_4        1        0

In [185]:
final = pred_df.drop(columns='target1')

In [186]:
final.head()

         target
ID_code
test_0        1
test_1        1
test_2        1
test_3        1
test_4        1

In [187]:
final.to_csv('final_nn.csv')